* {
    margin: 0;
    padding: 0;
}

body {
    letter-spacing: 2px;
    /* background: linear-gradient(to bottom, #151515, #303030, #14314D); */
    /* background-color: rgb(31, 30, 30); */
}

.container{
    /* background-color: rgb(27, 27, 27); */
    background: linear-gradient(to bottom, #151515, #303030, #33144d);
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.sidebar{
    background: linear-gradient(to bottom, #33144d, #303030, #151515);
    width: 12vw;
    padding: 16px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    cursor: pointer;
}

.title{
    font-size: 1.6em;
    color: white;
    text-align: center;
}

.search-box {
    margin-bottom: 20px;
}

.search, 
.playlist{
    padding-bottom: 20px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.playlist a {
    color: #D7D7D7;
    outline: none;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 500;
    font-size: 1em;
    width: 80%;
}

.playlist a:hover {
    color: #FFFFFF;
    border-radius: 7px;
    background-color: #572d9b;
    transition: ease-in-out .5s;
}

.playlist p {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#table {
    display: block;
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
}

.header {
    background-color: rgb(160, 160, 160);
}

th, td {
    /* border: 1px solid black; */
    padding: 5px;
    width: 500px;
    color: #FFFFFF;
    /* background-color: yellowgreen; */
    
}

.songs-container {
    width: 1400px;
}


/* .search-box{
    width: 20%;
    max-width: 700px;
    height: 30px;
    background: rgba(255,255,255,0.2);
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
} */

/* .search-container .input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 10px;
    font-size: 20px;
} */

/* .popup {
    max-width: 50ch;
}

.search-list-item{
    white-space: pre;
}
  
.popup::backdrop {
    background: rgb(0 0 0 / 0.4);
} */
  
#exit-button{
    border: 0;
    cursor: pointer;
    font-weight: 700;
    padding: var(--size-2) var(--size-4);
    background: #1c3d22;
    height: 40px;
    width: 60px;
    border-radius: 20%;
    font-size: 15px;
    color: rgb(85, 211, 102);
} 

.search-list-item:nth-of-type(1n+11) {
    display: none;
};